@import "catppuccin-mocha.css";

window {
    font-family: "CaskaydiaCove Nerd Font Mono";
    font-size: 13px;
    color: @text;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-width: 0;
    border: none;
    border-width: 0;
    box-shadow: none;
    background: transparent;
}

window#waybar {
    background: @base;
}

tooltip {
    color: @surface0;
    border-radius: 7px;
    border-width: 0px;
}

.modules-right {
    background: @surface0;
    margin: 5px 10px;
    border-radius: 9px;
    padding: 0px 9px;
}

.modules-left {
    background: @surface0;
    margin: 5px 10px;
    border-radius: 9px;
    padding: 0px 9px;
}

/* .modules-center {  */
/*     background: @surface0; */
/*     margin: 5px 10px 5px 10px; */
/*     border-radius: 9px; */
/*     padding: 0px 9px 0px 9px; */
/* } */

label.module {
    margin-left: 10px;
    margin-right: 10px;
}

#custom-power {
    color: @red;
    margin-right: 20px;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    border-top: none;
    border-right: none;
    border-left: none;
}

#workspaces button {
    padding: 0px 5px;
    margin: 5px;
    border-radius: 0;
    animation: none;
}

#workspaces button:nth-child(1) {
    color: @red;
    border-bottom-color: @red;
    border-bottom-width: 0;
}

#workspaces button:nth-child(2) {
    color: @maroon;
    border-bottom-color: @maroon;
    border-bottom-width: 0;
}

#workspaces button:nth-child(3) {
    color: @peach;
    border-bottom-color: @peach;
    border-bottom-width: 0;
}

#workspaces button:nth-child(4) {
    color: @yellow;
    border-bottom-color: @yellow;
    border-bottom-width: 0;
}

#workspaces button:nth-child(5) {
    color: @green;
    border-bottom-color: @green;
    border-bottom-width: 0;
}

#workspaces button:nth-child(6) {
    color: @teal;
    border-bottom-color: @teal;
    border-bottom-width: 0;
}

#workspaces button:nth-child(7) {
    color: @sky;
    border-bottom-color: @sky;
    border-bottom-width: 0;
}

#workspaces button:nth-child(8) {
    color: @blue;
    border-bottom-color: @blue;
    border-bottom-width: 0;
}

#workspaces button:nth-child(9) {
    color: @lavender;
    border-bottom-color: @lavender;
    border-bottom-width: 0;
}

#workspaces button:nth-child(10) {
    color: @mauve;
    border-bottom-color: @mauve;
    border-bottom-width: 0;
}

#workspaces button.active {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    animation: none;
    transition: none;
}


#wireplumber {
    color: @red;
}

#network {
    color: @peach;
}

#backlight {
    color: @yellow;
}

#battery {
    color: @green;
}

#clock {
    color: @mauve;
}
